<!DOCTYPE html>
<html>
<head>
    <title>Express Example</title>
</head>
<body>
   <p>This a Home page</p>
   <% if(!isAuthenticated) {%>
        <a href="/login">Login here</a>
    <% } else {%>
    <p>Hello <%= user.name %></p>
   <% } %>
</body>
</html>
