<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<p>This a login page</p>
    <form action="" method="POST">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
